{% extends 'base.html' %}

{% block title %}Consultas Agendadas{% endblock %}

{% block content %}
<h2 class="mb-4">Consultas Agendadas</h2>

<p class="text-muted">
    {% if user.role == 'administrativo' %}
        Visualizando todas as consultas da clínica.
    {% elif user.role == 'medico' %}
        Visualizando suas consultas como médico.
    {% elif user.role == 'paciente' %}
        Visualizando suas consultas agendadas.
    {% endif %}
</p>
<div class="mb-3">
    <a href="{% url 'redirecionar_dashboard' %}" class="btn btn-secondary">🏠 Retornar à Home</a>
</div>

{% if consultas %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Médico</th>
            <th>Paciente</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for consulta in consultas %}
        <tr>
            <td>{{ consulta.agenda.data }}</td>
            <td>{{ consulta.agenda.horario_inicio }} às {{ consulta.agenda.horario_fim }}</td>
            <td>{{ consulta.medico.get_full_name }}</td>
            <td>{{ consulta.paciente.get_full_name }}</td>
            <td>{{ consulta.status|default:"Agendada" }}</td>
            <td>
                {% if consulta.status != 'cancelada' and request.user.role != 'medico' %}
                    <a href="{% url 'cancelar_consulta' consulta.id %}" class="btn btn-sm btn-danger">Cancelar</a>
                {% endif %}
            
                {% if request.user.role == 'medico' %}
                    {% if consulta.status == 'agendada' %}
                        <a href="{% url 'iniciar_consulta' consulta.id %}" class="btn btn-sm btn-success"
                           onclick="return confirm('Deseja realmente iniciar esta consulta?');">
                            Iniciar Consulta
                        </a>
                    {% elif consulta.status == 'em_andamento' %}
                        <a href="{% url 'detalhar_consulta' consulta.id %}" class="btn btn-sm btn-warning">
                            Acessar Consulta
                        </a>
                    {% elif consulta.status == 'finalizada' %}
                        <a href="{% url 'detalhar_consulta' consulta.id %}" class="btn btn-sm btn-info">
                            Consultar
                        </a>
                    {% endif %}
                {% endif %}
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Nenhuma consulta agendada até o momento.</p>
{% endif %}

{% if user.role == 'administrativo' %}
    <a href="{% url 'dashboard_administrativo' %}" class="btn btn-secondary">Voltar ao Dashboard</a>
{% elif user.role == 'paciente' %}
    <a href="{% url 'dashboard_paciente' %}" class="btn btn-secondary">Voltar ao Dashboard</a>
{% elif user.role == 'medico' %}
    <a href="{% url 'dashboard_medico' %}" class="btn btn-secondary">Voltar ao Dashboard</a>
{% endif %}
{% endblock %}
