{% extends 'base.html' %}

{% block title %}Agenda Médica{% endblock %}

{% block content %}
<h2>Agenda Médica</h2>
<a href="{% url 'criar_agenda' %}" class="btn btn-success mb-3">Incluir Agenda</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Procedimento</th>
            <th>Médico</th>
            <th>Sala</th>
        </tr>
    </thead>
    <tbody>
        {% for agenda in agendas %}
        <tr>
            <td>{{ agenda.data }}</td>
            <td>{{ agenda.horario_inicio }} - {{ agenda.horario_fim }}</td>
            <td>{{ agenda.get_procedimento_display }}</td>
            <td>{{ agenda.medico }}</td>
            <td>{{ agenda.sala }}</td>
            <td>
                {% if agenda.status == 'Agendado' %}
                  <span class="badge bg-danger">Agendado</span>
                {% else %}
                  <span class="badge bg-success">Livre</span>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'editar_agenda' agenda.id %}" class="btn btn-sm btn-primary">Editar</a>
                
                {% if agenda.status == 'Livre' %}
                  <a href="{% url 'excluir_agenda' agenda.id %}" class="btn btn-sm btn-danger">Excluir</a>
                {% else %}
                  <button class="btn btn-sm btn-secondary" disabled>Não permitido</button>
                {% endif %}
              </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhum horário cadastrado.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
