{% extends 'base.html' %}

{% block title %}Agendar Teleconsulta{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Agendamento de Teleconsulta</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                {% endif %}
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Agendar</button>
        <a href="{% if request.user.role == 'paciente' %}
            {% url 'dashboard_paciente' %}
         {% else %}
            {% url 'dashboard_administrativo' %}
         {% endif %}" 
   class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
