{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Teleconsultas</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Data</th>
                <th>Horário</th>
                <th>Médico</th>
                <th>Status</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for teleconsulta in teleconsultas %}
                <tr>
                    <td>{{ teleconsulta.agenda.data }}</td>
                    <td>{{ teleconsulta.agenda.horario_inicio }} às {{ teleconsulta.agenda.horario_fim }}</td>
                    <td>{{ teleconsulta.medico.get_full_name }}</td>
                    <td>{{ teleconsulta.get_status_display }}</td>
                    <td>R$ {{ teleconsulta.valor }}</td>
                    <td>
                        {% if teleconsulta.status == 'agendada' %}
                            <a href="{% url 'cancelar_teleconsulta' teleconsulta.id %}" class="btn btn-sm btn-danger">Cancelar</a>
                        {% elif teleconsulta.status == 'em_andamento' %}
                            <span class="text-muted">Detalhamento em breve</span>
                        {% elif teleconsulta.status == 'finalizada' %}
                            {% if user.role == 'administrativo' %}
                                <a href="{% url 'detalhar_teleconsulta_admin' teleconsulta.id %}" class="btn btn-sm btn-primary">Consultar</a>
                            {% else %}
                                <a href="{% url 'detalhar_teleconsulta_usuario' teleconsulta.id %}" class="btn btn-sm btn-primary">Consultar</a>
                            {% endif %}
                        {% elif teleconsulta.status == 'cancelada' %}
                            <span class="text-muted">Procedimento Cancelado</span>
                        {% endif %}
                    </td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Nenhuma teleconsulta encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'redirecionar_dashboard' %}" class="btn btn-secondary">🏠 Retornar ao Dashboard</a>
</div>
{% endblock %}

