{% extends 'base.html' %}

{% block title %}Dashboard - Administrativo{% endblock %}

{% block content %}
<h2 class="mb-4">Bem-vindo, {{ user.get_full_name }}!</h2>
<div class="container">
    <div class="row g-4">
        <!-- Primeira linha -->
        <div class="col-md-6">
            <div class="card p-3">
                <h5 class="card-title">Consultas e Exames</h5>
                <a class="btn btn-outline-light mt-2" href="{% url 'agendar_consulta' %}">Agendar Consulta</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'consultas_usuario' %}">Visualizar Consultas</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'agendar_exame' %}">Agendar Exame</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'exames_usuario' %}">Visualizar Exames</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'agendar_teleconsulta' %}">Agendar Teleconsulta</a>                
                <a class="btn btn-outline-light mt-2" href="{% url 'teleconsultas_usuario' %}">Visualizar Teleconsultas</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h5 class="card-title">Materiais</h5>
                <a href="{% url 'visualizar_estoque' %}" class="btn btn-outline-primary mt-2">Visualizar Estoque</a>
                <a class="btn btn-outline-success mt-2" href="{% url 'criar_pedido_material' %}">Gerar Pedido de Compra</a>
                <a class="btn btn-outline-info mt-2" href="{% url 'listar_pedidos_administrativo' %}">Consultar Pedidos</a>
            </div>
        </div>

        <!-- Segunda linha -->
        <div class="col-md-6">
            <div class="card p-3">
                <h5 class="card-title">Agenda Médica</h5>
                <a class="btn btn-outline-light mt-2" href="{% url 'lista_agenda_consulta' %}">Agenda de Consultas</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'lista_agenda_teleconsulta' %}">Agenda de Teleconsultas</a>
                <a class="btn btn-outline-light mt-2" href="{% url 'lista_agenda_exame' %}">Agenda de Exames</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-3">
                <h5 class="card-title">Estrutura Física</h5>
                <a class="btn btn-outline-light mt-2" href="{% url 'lista_salas' %}">Gerenciar Estrutura</a>
            </div>
        </div>
                <div class="col-md-6">
            <div class="card p-3">
                <h5 class="card-title">Pacientes</h5>
                <a href="{% url 'cadastrar_paciente' %}" class="btn btn-success">Cadastrar Paciente</a>
                <a href="{% url 'listar_pacientes' %}" class="btn btn-outline-primary">Ver Pacientes</a>
            </div>

    </div>
</div>
{% endblock %}

