{% extends 'base.html' %}

{% block title %}Dashboard - Financeiro{% endblock %}

{% block content %}
<h2 class="mb-4">Bem-vindo, {{ user.get_full_name }}!</h2>

<div class="row g-4">
  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="card-title">Receitas</h5>
      <a href="{% url 'relatorio_receitas' %}" class="btn btn-outline-primary mt-2">Relatório de Receitas</a>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card p-3">
      <h5 class="card-title">Pagamentos</h5>
      <a href="{% url 'relatorio_pagamentos_materiais' %}" class="btn btn-outline-success mt-2">Relatório de Pagamentos</a>
      <a href="{% url 'listar_pedidos_financeiro' %}" class="btn btn-outline-info mt-2">Consultar / Aprovar Pedidos</a>
    </div>
  </div>
</div>

  </div>
</div>
{% endblock %}
