{% extends 'base.html' %}

{% block title %}Dashboard - Paciente{% endblock %}

{% block content %}
<h2 class="mb-4">Bem-vindo, {{ user.get_full_name }}!</h2>

<div class="row g-4">
  <div class="col-md-4">
    <div class="card p-3">
      <h5 class="card-title">Consultas</h5>
      <a href="{% url 'consultas_usuario' %}" class="btn btn-outline-light mt-2">Minhas Consultas</a>
      <a href="{% url 'agendar_consulta' %}" class="btn btn-outline-light mt-2">Agendar Consulta</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3">
      <h5 class="card-title">Exames</h5>
      <a href="#" class="btn btn-outline-light mt-2">Meus Exames</a>
      <a href="#" class="btn btn-outline-light mt-2">Agendar Exame</a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3">
      <h5 class="card-title">Teleconsultas</h5>
      <a href="#" class="btn btn-outline-light mt-2">Minhas Teleconsultas</a>
      <a href="#" class="btn btn-outline-light mt-2">Agendar Teleconsulta</a>
      <a href="#" class="btn btn-outline-warning mt-2">Entrar na Fila de Atendimento</a>
    </div>
  </div>
</div>
{% endblock %}
